target extended-remote | ${OpenOCD_EXECUTABLE} -c "gdb_port pipe" -f ${OpenOCD_SCRIPTROOT}/board/st_nucleo_f3.cfg
set remote hardware-breakpoint-limit 6
set remote hardware-watchpoint-limit 4
mon reset
break main
load
